In [1]:
import os
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import csv
import warnings
warnings.filterwarnings('ignore')

In [47]:
df=pd.read_csv("Deduplication Problem - Sample Dataset.csv")
df   #input data set

                ln       dob gn            fn
0         SMITH JR  01/03/68  F       WILLIAM
1     ROTHMEYER JR  01/03/68  F       WILLIAM
2          ASBY JR  01/03/68  F       WILLIAM
3        SALTER JR  01/03/68  F       WILLIAM
4        SALTER JR  01/03/68  F       WILLIAM
5         BLAND JR  21/02/62  F       WILLIAM
6         BLAND JR  21/02/62  F       WILLIAM
7         BLAND JR  21/02/62  F       WILLIAM
8       SHAFFER JR  21/02/62  F       WILLIAM
9       SHAFFER JR  21/02/62  F       WILLIAM
10       BLAND III  21/02/62  F       WILLIAM
11        BLAND JR  21/02/62  F          BILL
12           BLAND  21/02/62  F       WILLIAM
13        BLAND JR  21/02/62  F       WILLIAM
14        BLAND JR  08/06/54  F       WILLIAM
15        BLAND JR  08/06/54  F       WILLIAM
16        BLAND JR  25/10/53  F       WILLIAM
17        BLAND JR  25/10/53  F       WILLIAM
18      SHAFFER JR  25/10/53  F       WILLIAM
19       DUNCAN JR  25/10/53  F        THOMAS
20      CARLSON JR  25/10/53  F           ROY
21      CARLSON JR  25/10/53  F           RON
22       DUNCAN JR  25/10/53  F           ROY
23      MICHAELSON  25/10/53  M           ROY
24   MICHAELSON JR  25/10/53  M           ROY
25      MICHAELSON  25/10/53  M           ROY
26   MICHAELSON JR  25/10/53  M           ROY
27   MICHAELSON JR  01/05/51  M           ROY
28   MICHAELSON JR  17/06/48  M           ROY
29   MICHAELSON JR  17/06/48  M           ROY
..             ...       ... ..           ...
73       MELVIN JR  07/10/37  M        HAROLD
74       MELVIN JR  07/10/37  M        HAROLD
75       CHAVAS JR  07/10/37  M        HAROLD
76       CHAVAS JR  07/10/37  M        HAROLD
77       CHAVAS JR  07/10/37  M        HAROLD
78       CHAVAS JR  07/10/37  M        HAROLD
79   MICHAELSON JR  07/10/37  M        HAROLD
80   MICHAELSON JR  07/10/37  M        HAROLD
81        SMITH JR  07/10/37  M        HAROLD
82       CHAVAS JR  07/10/37  M        HAROLD
83       CHAVAS JR  07/10/37  M        HAROLD
84        FAGEN JR  07/10/37  M        HAROLD
85        FAGEN JR  07/10/37  M        HAROLD
86        FAGEN JR  07/10/37  M        GEORGE
87      GRIFFIN JR  07/10/37  M          DARH
88      GRIFFIN JR  10/07/37  M          DARL
89      GRIFFIN JR  07/05/37  M          DARL
90      GRIFFIN JR  07/05/37  M      CLIFFORD
91      GRIFFIN JR  07/05/37  M      CLIFFORD
92      GRIFFIN JR  07/05/37  M      CLIFFORD
93      GRIFFIN JR  07/05/37  M      CLARENCE
94           HANNA  24/11/34  M     ADDISON J
95           HANNA  24/11/34  M  ADDISON JOHN
96           HANNA  24/11/34  M       ADDISON
97           HANNA  24/11/34  M       ADDISON
98           HANNA  24/11/34  M       ADDISON
99     GALETICH JR  15/10/32  M       ADDISON
100   FUNARO JONES  06/12/37  F       HARRIET
101       FUNARO J  06/12/37  F       HARRIET
102         FUNARO  06/12/37  F       HARRIET

[103 rows x 4 columns]

In [48]:
df.shape #shape of dataset

(103, 4)

In [49]:
data.loc[data.duplicated(),:]  #exact duplicatedd rows

               ln       dob gn        fn
4       SALTER JR  01/03/68  F   WILLIAM
6        BLAND JR  21/02/62  F   WILLIAM
7        BLAND JR  21/02/62  F   WILLIAM
9      SHAFFER JR  21/02/62  F   WILLIAM
13       BLAND JR  21/02/62  F   WILLIAM
15       BLAND JR  08/06/54  F   WILLIAM
17       BLAND JR  25/10/53  F   WILLIAM
25     MICHAELSON  25/10/53  M       ROY
26  MICHAELSON JR  25/10/53  M       ROY
29  MICHAELSON JR  17/06/48  M       ROY
36    HOUGHTON JR  31/01/46  M  LAWRENCE
37    HOUGHTON JR  31/01/46  M  LAWRENCE
39        LIND JR  31/01/46  M  LAWRENCE
41        LIND JR  31/01/46  M   KENNETH
49       CLARK JR  16/12/44  M      JOHN
51  MICHAELSON JR  16/12/44  M      JOHN
52  MICHAELSON JR  16/12/44  M      JOHN
54  MICHAELSON JR  24/04/40  M      JOHN
56  MICHAELSON JR  24/06/39  M      JOHN
57  MICHAELSON JR  24/06/39  M      JOHN
59  MICHAELSON JR  24/06/39  M     JAMES
63      LARSON JR  09/06/39  M    HAROLD
67      MELVIN JR  07/10/37  M    HAROLD
68      MELVIN JR  07/10/37  M    HAROLD
69      MELVIN JR  07/10/37  M    HAROLD
70      MELVIN JR  07/10/37  M    HAROLD
71      MELVIN JR  07/10/37  M    HAROLD
72      MELVIN JR  07/10/37  M    HAROLD
73      MELVIN JR  07/10/37  M    HAROLD
74      MELVIN JR  07/10/37  M    HAROLD
76      CHAVAS JR  07/10/37  M    HAROLD
77      CHAVAS JR  07/10/37  M    HAROLD
78      CHAVAS JR  07/10/37  M    HAROLD
80  MICHAELSON JR  07/10/37  M    HAROLD
82      CHAVAS JR  07/10/37  M    HAROLD
83      CHAVAS JR  07/10/37  M    HAROLD
85       FAGEN JR  07/10/37  M    HAROLD
91     GRIFFIN JR  07/05/37  M  CLIFFORD
92     GRIFFIN JR  07/05/37  M  CLIFFORD
97          HANNA  24/11/34  M   ADDISON
98          HANNA  24/11/34  M   ADDISON

In [50]:
df=df.drop_duplicates(keep='first')    #removing duplicated rows keeping first entry 
df

                ln       dob gn            fn
0         SMITH JR  01/03/68  F       WILLIAM
1     ROTHMEYER JR  01/03/68  F       WILLIAM
2          ASBY JR  01/03/68  F       WILLIAM
3        SALTER JR  01/03/68  F       WILLIAM
5         BLAND JR  21/02/62  F       WILLIAM
8       SHAFFER JR  21/02/62  F       WILLIAM
10       BLAND III  21/02/62  F       WILLIAM
11        BLAND JR  21/02/62  F          BILL
12           BLAND  21/02/62  F       WILLIAM
14        BLAND JR  08/06/54  F       WILLIAM
16        BLAND JR  25/10/53  F       WILLIAM
18      SHAFFER JR  25/10/53  F       WILLIAM
19       DUNCAN JR  25/10/53  F        THOMAS
20      CARLSON JR  25/10/53  F           ROY
21      CARLSON JR  25/10/53  F           RON
22       DUNCAN JR  25/10/53  F           ROY
23      MICHAELSON  25/10/53  M           ROY
24   MICHAELSON JR  25/10/53  M           ROY
27   MICHAELSON JR  01/05/51  M           ROY
28   MICHAELSON JR  17/06/48  M           ROY
30   MICHAELSON JR  09/04/47  M           ROY
31   MICHAELSON JR  09/04/47  M        ROBERT
32   MICHAELSON JR  09/04/47  M           BOB
33     MUSTAPHA JR  11/03/47  M          OWEN
34     MUSTAPHA JR  11/03/47  M          OWAN
35     HOUGHTON JR  31/01/46  M      LAWRENCE
38         LIND JR  31/01/46  M      LAWRENCE
40         LIND JR  31/01/46  M       KENNETH
42         LIND JR  20/01/46  M          JOHN
43         CAIN JR  20/01/46  M          JOHN
..             ...       ... ..           ...
46           CLARK  09/02/45  M        DONALD
47           CLARK  16/12/44  M          JOHN
48        CLARK JR  16/12/44  M          JOHN
50   MICHAELSON JR  16/12/44  M          JOHN
53   MICHAELSON JR  24/04/40  M          JOHN
55   MICHAELSON JR  24/06/39  M          JOHN
58   MICHAELSON JR  24/06/39  M         JAMES
60   MICHAELSON JR  24/06/39  M          JACK
61   MICHAELSON JR  09/06/39  M          JACK
62       LARSON JR  09/06/39  M        HAROLD
64     MUSTAPHA JR  07/10/37  M        HAROLD
65     HOUGHTON JR  07/10/37  M        HAROLD
66       MELVIN JR  07/10/37  M        HAROLD
75       CHAVAS JR  07/10/37  M        HAROLD
79   MICHAELSON JR  07/10/37  M        HAROLD
81        SMITH JR  07/10/37  M        HAROLD
84        FAGEN JR  07/10/37  M        HAROLD
86        FAGEN JR  07/10/37  M        GEORGE
87      GRIFFIN JR  07/10/37  M          DARH
88      GRIFFIN JR  10/07/37  M          DARL
89      GRIFFIN JR  07/05/37  M          DARL
90      GRIFFIN JR  07/05/37  M      CLIFFORD
93      GRIFFIN JR  07/05/37  M      CLARENCE
94           HANNA  24/11/34  M     ADDISON J
95           HANNA  24/11/34  M  ADDISON JOHN
96           HANNA  24/11/34  M       ADDISON
99     GALETICH JR  15/10/32  M       ADDISON
100   FUNARO JONES  06/12/37  F       HARRIET
101       FUNARO J  06/12/37  F       HARRIET
102         FUNARO  06/12/37  F       HARRIET

[62 rows x 4 columns]

In [51]:
df['full_name']=df['fn']+str(" ")+df['ln']    #combining first name and last name and creating new column of full name

In [52]:
df=df.sort_values(by=['dob','gn'])
df.shape

(62, 5)

In [53]:
df=df.reset_index(drop=True)
df["duplicate"]=True       #appending duplicate column which specifies if given name is duplicate or not

In [54]:
dataset1=df.copy(deep='True')       
dataset2=df.copy(deep='True')

In [30]:
df=pd.read_csv("Deduplication Problem - Sample Dataset.csv")
df=data.drop_duplicates(keep='first') 
df['full_name']=df['fn']+str(" ")+df['ln']
df=df.sort_values(by=['dob','gn'])
df=df.reset_index(drop=True)
df["duplicate"]=True  
dataset1=df.copy(deep='True')       
dataset2=df.copy(deep='True')

In [55]:
#considering different genders mean different patients even for same full name,dob
def input_dataset1(data):
    m=len(data)
    for index,row in data.iterrows():
        dob_selected=row["dob"]
        g_selected=row["gn"]
        fn_selected=row["full_name"]
        if(row["duplicate"]!=False):
            for j in range(index+1,m):
                rc=data.iloc[j]
                dob_compare=rc["dob"]
                g_compare=rc["gn"]
                fn_compare=rc["full_name"]
                if(g_selected==g_compare):
                    if(fuzz.token_set_ratio(fn_selected,fn_compare)>90):
                        data.set_value(j,"duplicate",False)
    data=data[data["duplicate"]==True]
    data=data.reset_index(drop=True)
    print(data)
    print(data.shape)
    data=data.drop(["full_name","duplicate"],axis=1)
    data.to_csv("output_unique_gender.csv", index=False)

In [56]:
input_dataset1(dataset1)                #displaying rows after removing duplicates  (40 entries)

               ln       dob gn         fn             full_name  duplicate
0        SMITH JR  01/03/68  F    WILLIAM      WILLIAM SMITH JR       True
1    ROTHMEYER JR  01/03/68  F    WILLIAM  WILLIAM ROTHMEYER JR       True
2         ASBY JR  01/03/68  F    WILLIAM       WILLIAM ASBY JR       True
3       SALTER JR  01/03/68  F    WILLIAM     WILLIAM SALTER JR       True
4   MICHAELSON JR  01/05/51  M        ROY     ROY MICHAELSON JR       True
5    FUNARO JONES  06/12/37  F    HARRIET  HARRIET FUNARO JONES       True
6      GRIFFIN JR  07/05/37  M       DARL       DARL GRIFFIN JR       True
7      GRIFFIN JR  07/05/37  M   CLIFFORD   CLIFFORD GRIFFIN JR       True
8      GRIFFIN JR  07/05/37  M   CLARENCE   CLARENCE GRIFFIN JR       True
9     MUSTAPHA JR  07/10/37  M     HAROLD    HAROLD MUSTAPHA JR       True
10    HOUGHTON JR  07/10/37  M     HAROLD    HAROLD HOUGHTON JR       True
11      MELVIN JR  07/10/37  M     HAROLD      HAROLD MELVIN JR       True
12      CHAVAS JR  07/10/37  M     HAROLD      HAROLD CHAVAS JR       True
13  MICHAELSON JR  07/10/37  M     HAROLD  HAROLD MICHAELSON JR       True
14       SMITH JR  07/10/37  M     HAROLD       HAROLD SMITH JR       True
15       FAGEN JR  07/10/37  M     HAROLD       HAROLD FAGEN JR       True
16       FAGEN JR  07/10/37  M     GEORGE       GEORGE FAGEN JR       True
17       BLAND JR  08/06/54  F    WILLIAM      WILLIAM BLAND JR       True
18          CLARK  09/02/45  M     RONALD          RONALD CLARK       True
19  MICHAELSON JR  09/04/47  M     ROBERT  ROBERT MICHAELSON JR       True
20  MICHAELSON JR  09/04/47  M        BOB     BOB MICHAELSON JR       True
21  MICHAELSON JR  09/06/39  M       JACK    JACK MICHAELSON JR       True
22      LARSON JR  09/06/39  M     HAROLD      HAROLD LARSON JR       True
23          CLARK  09/06/45  M       JOHN            JOHN CLARK       True
24    MUSTAPHA JR  11/03/47  M       OWEN      OWEN MUSTAPHA JR       True
25    GALETICH JR  15/10/32  M    ADDISON   ADDISON GALETICH JR       True
26  MICHAELSON JR  16/12/44  M       JOHN    JOHN MICHAELSON JR       True
27        LIND JR  20/01/46  M       JOHN          JOHN LIND JR       True
28        CAIN JR  20/01/46  M       JOHN          JOHN CAIN JR       True
29     SHAFFER JR  21/02/62  F    WILLIAM    WILLIAM SHAFFER JR       True
30      BLAND III  21/02/62  F    WILLIAM     WILLIAM BLAND III       True
31       BLAND JR  21/02/62  F       BILL         BILL BLAND JR       True
32  MICHAELSON JR  24/06/39  M      JAMES   JAMES MICHAELSON JR       True
33          HANNA  24/11/34  M  ADDISON J       ADDISON J HANNA       True
34      DUNCAN JR  25/10/53  F     THOMAS      THOMAS DUNCAN JR       True
35     CARLSON JR  25/10/53  F        ROY        ROY CARLSON JR       True
36      DUNCAN JR  25/10/53  F        ROY         ROY DUNCAN JR       True
37    HOUGHTON JR  31/01/46  M   LAWRENCE  LAWRENCE HOUGHTON JR       True
38        LIND JR  31/01/46  M   LAWRENCE      LAWRENCE LIND JR       True
39        LIND JR  31/01/46  M    KENNETH       KENNETH LIND JR       True
(40, 6)

In [57]:
#considering different dates of birth and different genders mean different patients even for same full name
def input_dataset2(data):
    m=len(data)
    for index,row in data.iterrows():
        dob_selected=row["dob"]
        g_selected=row["gn"]
        fn_selected=row["full_name"]
        if(row["duplicate"]!=False):
            for j in range(0,m):
                if(j!=index):
                    rc=data.iloc[j]
                    dob_compare=rc["dob"]
                    g_compare=rc["gn"]
                    fn_compare=rc["full_name"]
                    if(g_selected==g_compare and dob_selected==dob_compare):
                        if(fuzz.token_set_ratio(fn_selected,fn_compare)>90):
                            data.set_value(j,"duplicate",False)
    data=data[data["duplicate"]==True]
    data=data.reset_index(drop=True)
    print(data)
    print(data.shape)
    data=data.drop(["full_name","duplicate"],axis=1)
    data.to_csv("output_unique_dob_gender.csv", index=False)

In [58]:
input_dataset2(dataset2)              #displaying rows after removing duplicates  (53 entries)

               ln       dob gn        fn             full_name  duplicate
0        SMITH JR  01/03/68  F   WILLIAM      WILLIAM SMITH JR       True
1    ROTHMEYER JR  01/03/68  F   WILLIAM  WILLIAM ROTHMEYER JR       True
2         ASBY JR  01/03/68  F   WILLIAM       WILLIAM ASBY JR       True
3       SALTER JR  01/03/68  F   WILLIAM     WILLIAM SALTER JR       True
4   MICHAELSON JR  01/05/51  M       ROY     ROY MICHAELSON JR       True
5      GRIFFIN JR  07/05/37  M      DARL       DARL GRIFFIN JR       True
6      GRIFFIN JR  07/05/37  M  CLIFFORD   CLIFFORD GRIFFIN JR       True
7      GRIFFIN JR  07/05/37  M  CLARENCE   CLARENCE GRIFFIN JR       True
8     MUSTAPHA JR  07/10/37  M    HAROLD    HAROLD MUSTAPHA JR       True
9     HOUGHTON JR  07/10/37  M    HAROLD    HAROLD HOUGHTON JR       True
10      MELVIN JR  07/10/37  M    HAROLD      HAROLD MELVIN JR       True
11      CHAVAS JR  07/10/37  M    HAROLD      HAROLD CHAVAS JR       True
12  MICHAELSON JR  07/10/37  M    HAROLD  HAROLD MICHAELSON JR       True
13       SMITH JR  07/10/37  M    HAROLD       HAROLD SMITH JR       True
14       FAGEN JR  07/10/37  M    HAROLD       HAROLD FAGEN JR       True
15       FAGEN JR  07/10/37  M    GEORGE       GEORGE FAGEN JR       True
16     GRIFFIN JR  07/10/37  M      DARH       DARH GRIFFIN JR       True
17       BLAND JR  08/06/54  F   WILLIAM      WILLIAM BLAND JR       True
18  MICHAELSON JR  09/04/47  M       ROY     ROY MICHAELSON JR       True
19  MICHAELSON JR  09/04/47  M    ROBERT  ROBERT MICHAELSON JR       True
20  MICHAELSON JR  09/04/47  M       BOB     BOB MICHAELSON JR       True
21  MICHAELSON JR  09/06/39  M      JACK    JACK MICHAELSON JR       True
22      LARSON JR  09/06/39  M    HAROLD      HAROLD LARSON JR       True
23          CLARK  09/06/45  M      JOHN            JOHN CLARK       True
24     GRIFFIN JR  10/07/37  M      DARL       DARL GRIFFIN JR       True
25    GALETICH JR  15/10/32  M   ADDISON   ADDISON GALETICH JR       True
26  MICHAELSON JR  16/12/44  M      JOHN    JOHN MICHAELSON JR       True
27  MICHAELSON JR  17/06/48  M       ROY     ROY MICHAELSON JR       True
28        LIND JR  20/01/46  M      JOHN          JOHN LIND JR       True
29        CAIN JR  20/01/46  M      JOHN          JOHN CAIN JR       True
30     SHAFFER JR  21/02/62  F   WILLIAM    WILLIAM SHAFFER JR       True
31       BLAND JR  21/02/62  F      BILL         BILL BLAND JR       True
32  MICHAELSON JR  24/04/40  M      JOHN    JOHN MICHAELSON JR       True
33  MICHAELSON JR  24/06/39  M      JOHN    JOHN MICHAELSON JR       True
34  MICHAELSON JR  24/06/39  M     JAMES   JAMES MICHAELSON JR       True
35  MICHAELSON JR  24/06/39  M      JACK    JACK MICHAELSON JR       True
36       BLAND JR  25/10/53  F   WILLIAM      WILLIAM BLAND JR       True
37     SHAFFER JR  25/10/53  F   WILLIAM    WILLIAM SHAFFER JR       True
38      DUNCAN JR  25/10/53  F    THOMAS      THOMAS DUNCAN JR       True
39      DUNCAN JR  25/10/53  F       ROY         ROY DUNCAN JR       True
40    HOUGHTON JR  31/01/46  M  LAWRENCE  LAWRENCE HOUGHTON JR       True
41        LIND JR  31/01/46  M  LAWRENCE      LAWRENCE LIND JR       True
42        LIND JR  31/01/46  M   KENNETH       KENNETH LIND JR       True
(43, 6)